@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html, body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.chat-container {
  flex-grow: 1;
  width: clamp(300px, 80vw, 600px);
  height: clamp(300px, 80vh, 600px);
  border: 1px solid yellow;
  position: absolute;
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  gap: clamp(5px, 9px, 15px);
}
.chat-container header {
  display: flex;
  gap: clamp(5px, 10px, 20px);
  align-items: center;
  align-content: center;
  padding: 5px;
}
.icon {
  border-radius: 50%;
  border: 1px solid green;
  padding: 5px;
}
.input-container {
  margin-top: auto;
  width: 100%;
  border-radius: 20px;
  border: 2px solid blue;
  padding: 10px;
}
.input-container textarea {
  padding: 5px;
  width: 100%;
  border: none;
}
.input-container textarea:focus {
  border: none;
  outline: none;
}

.input-container footer {
  display: flex;
  gap: clamp(5px, 10px, 20px);
  justify-content: space-between;
}
input[type="file"] {
  display: none;
}
.file-upload {
  display: inline-block;
  padding: 10px 15px;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}
.file-modal {
  width: clamp(200px, 250px, 300px);
  height: clamp(100px, 150px, 250px);
  border-radius: 10px;
  border: 1px solid indigo;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  position: absolute;
  top: 90;
  left: 10;
}
.file-modal label {
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
}
.file-modal:hover {
  background-color: bisque;
}
.header-img {
  border-radius: 50%;
  border: 1px dashed orange;
  width: 50px;
  height: 50px;
}